<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ampersand_Shipping>
            <version>0.1.8</version>
        </Ampersand_Shipping>
    </modules>
    <global>
        <helpers>
            <ampersand_shipping>
                <class>Ampersand_Shipping_Helper</class>
            </ampersand_shipping>
        </helpers>
        <models>
            <ampersand_shipping>
                <class>Ampersand_Shipping_Model</class>
                <resourceModel>ampersand_shipping_resource</resourceModel>
            </ampersand_shipping>
            <ampersand_shipping_resource>
                <class>Ampersand_Shipping_Model_Resource</class>
                <entities>
                    <standardShippingRates>
                        <table>ampersand_shipping_standard_rates</table>
                    </standardShippingRates>
                </entities>
            </ampersand_shipping_resource>
        </models>
        <resources>
            <ampersand_shipping_setup>
                <setup>
                    <module>Ampersand_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ampersand_shipping_setup>
        </resources>
        <blocks>
            <ampersand_shipping_admin>
                <class>Ampersand_Shipping_Block_Adminhtml</class>
            </ampersand_shipping_admin>
            <ampersand_shipping>
                <class>Ampersand_Shipping_Block</class>
            </ampersand_shipping>
        </blocks>
    </global>
    <default>
        <carriers>
            <standard>
                <active>1</active>
                <title>Standard</title>
                <name>Standard</name>
                <constraint_start_day>4</constraint_start_day>
                <constraint_start_hour>15:00</constraint_start_hour>
                <constraint_end_day>5</constraint_end_day>
                <constraint_end_hour>17:00</constraint_end_hour>
                <minimum_amount_for_free_delivery>140</minimum_amount_for_free_delivery>
                <model>ampersand_shipping/carrier_standard</model>
            </standard>
        </carriers>
    </default>
    <frontend>
        <routers>
            <ampersand_shipping>
                <use>standard</use>
                <args>
                    <module>Ampersand_Shipping</module>
                    <frontName>ampersand_shipping</frontName>
                </args>
            </ampersand_shipping>
        </routers>
    </frontend>
    <admin>
        <routers>
            <ampersand_shipping_admin>
                <use>admin</use>
                <args>
                    <module>Ampersand_Shipping_Adminhtml</module>
                    <frontName>ampersand-shipping-admin</frontName>
                </args>
            </ampersand_shipping_admin>
        </routers>
    </admin>
</config>